.App {
  height: 100svh;
  height: calc(var(--svh, 1svh) * 100);
}

#App-content {
  resize: none;
}

.App-output-outer:not(.zoom) {
  display: none !important;
}

.App-output-outer {
  user-select: none;
}

.App-output-inner {
  display: inline-block;
  transform-origin: center;
  line-height: 0.95em;
  margin: 0.125em 0;
  white-space: pre;
}

.App-output-outer {
  background-color: #fff;
  color: #000;
}

.dark .App-output-outer {
  background-color: #000;
  color: #fff;
}
