.App {
  height: 100svh;
  height: calc(var(--svh, 1svh) * 100);
}

#App-content {
  resize: none;
}

.App-output-outer:not(.zoom) {
  display: none !important;
}

.App-output-outer {
  user-select: none;
  background-color: #fff;
  color: #000;
}

.dark .App-output-outer {
  background-color: #000;
  color: #fff;
}
